*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


nav{
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    column-gap: 25%;
    align-items: center;
    padding: 12px 0;
    background-color: #4ecdc4;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
    font-size: 28px;
}

nav li a{
    text-decoration: none; 
    color: black;
}

nav li a:hover{
    color: rgb(134, 121, 121);
}

.logo{
    font-size: 28px;
    font-family: cursive;
    cursor: pointer;
}

.logo:hover{
    color: rgb(134, 121, 121);
}

h1{
    margin: 20px 0;
    text-align: center;
}

.intro{
    margin: 15px;
}

.use{
    margin: 15px;
}

.use ul{
    margin-left: 20px;
    padding-top: 5px;
    list-style-type: disc;
    color: rgb(85, 85, 195);
}

.use ul li a{
    text-decoration: none;
}

.use ul li a:hover{
    color: blue;
}


footer{
    color: #eac557;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    
}


/* Responsiveness */
@media (max-width: 700px) {
            

    nav {
        flex-direction: column;
        font-size: 14px;
    }

    nav ul li {
        margin: 5px 10px;
    }

    nav ul {
        justify-content: center;
    }
    
    footer {
        font-size: 18px;
        text-align: center;
    }

    table{
        left: 5%;
    }

    tr{ 
        font-size: 18px;
    }
}

@media (max-width: 350px){
    nav ul {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    table{
        left: 0;
        width: 10%;
    }

    tr{ 
        font-size: 14px;
    }
}