*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


nav{
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    column-gap: 25%;
    align-items: center;
    padding: 12px 0;
    background-color: #4ecdc4;
    min-width: 100%;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
    font-size: 28px;
}

nav li a{
    text-decoration: none; 
    color: black;
}

nav li a:hover{
    color: rgb(134, 121, 121);
}

.logo{
    font-size: 28px;
    font-family: cursive;
    cursor: pointer;
}

.logo:hover{
    color: rgb(134, 121, 121);
}

.container{
    max-width: 100vw;
    padding-top: 10px;
    background-color: #e5ebe5;
    min-height: 100%;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 40px;
    text-align: center;
    color: red;
}

form{
    display: flex;
    flex-direction: column;
    font-size: 24px;    
    margin-left: 15px;
}

form,select, input[type="number"]{
    font-size: 20px;
    margin-bottom: 10px ;
    width: 40vw;
}

#value{
    padding: 2px;
}

.btn{
    width: 90px;
    height: 35px;
    padding: 3px;
    font-size: 20px;
    background-color: #a86ccb;
    cursor: pointer;
    margin: 5px 15px;
}

.btn:hover{
    border: 3px solid black;
}

.button-container{
    margin: 15px 0;
}

table{
    position: relative;
    left: 25%;
    border: 2px solid black;
    width: 50%;
    text-align: center;
}

tr{ 
    font-size: 22px;
}

th, td{
    border: 2px solid black;
}

caption{
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(24, 24, 214);
}

.output{
    display: none;
}

footer{
    color: #eac557;
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* Responsiveness */
@media (max-width: 700px) {
            

    nav {
        flex-direction: column;
        font-size: 14px;
    }

    nav ul li {
        margin: 5px 10px;
    }

    nav ul {
        justify-content: center;
    }

    .container form input[type='number'],
    select,
    label {
        width: 80vw;
    }
    
    footer {
        font-size: 18px;
        text-align: center;
    }

    table{
        left: 5%;
    }

    tr{ 
        font-size: 18px;
    }
}

@media (max-width: 350px){
    nav ul {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    table{
        left: 0;
        width: 10%;
    }

    tr{ 
        font-size: 14px;
    }
}